body {
	background-color: rgb(270,225,200)
}

h1 {
	text-align: center;
	color: rgb(225,25,110)
}

img {
	display: block;margin: auto
}

h2 {
	text-align: center;
	color: rgb(90,25,270)
}

table {
	font-family: arial, sans-serif;
	 border-collapse: collapse;width: 150%
}

td {
	border: 3px, solid #dddddd; 
	text-align: left;padding: 10px;
	background-color: #99ccff
}

h3 {
	text-align: center;
	color: rgb(90,25,270)
}

p {
	text-align: center;
	color: rgb(10,25,110)
}